.button {
    -fx-background-radius: 10;
}

.combo-box .indexed-cell {
    -fx-alignment: CENTER;
}

.combo-box .list-cell {
    -fx-alignment: CENTER;
}

.box {
    -fx-background-radius: 10;
    -fx-border-width: 10;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.block {
    -fx-background-radius: 15;
}

.table-view * {
    -fx-border-width: 0;
}

.table-view .table-column .arrow {
    -fx-border-image-insets: 0;
}

.table-view {
    -fx-border-width: 0;
    -fx-padding: 0;
}

.table-view .column-header-background {
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-alignment: CENTER;
}

.table-view .column-header .label {
    -fx-alignment: CENTER;
}

.table-view .cell {
    -fx-alignment: CENTER;
}

.table-view .scroll-bar:vertical .thumb  {
    -fx-alignment: CENTER;
}
